* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 150px;
  background-color: #80c0ff;
  display: flex;
  padding-top: 40px;
  justify-content: center;
}

.content {
  width: 25%;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 40px;
  margin-left: 37%;
  justify-content: center;

}

.input-btn {
  background-color: white;
  width: 700px;
  height: 55px;
  display: flex;
}

.input-btn input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.input-btn button {
  background-color: #4759ff;
  padding: 10px 50px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
}

.list-tasks {
  margin-bottom: 11%;
}

.list-tasks ul {
  padding-left: 0;
  margin: 0 13px;
}

.list-tasks li {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.list-tasks li::first-letter {
  color: #4759ff;
  text-transform: uppercase;
}

.list-tasks li span {
  background-color: #4759ff;
  border-radius: 20%;
  padding: 1px 8px;
  color: #000000;
  cursor: pointer;
  width: 26px;
}

.list-tasks li span:hover {
  background-color: #4759ff;
}

.error {
  color: red;
  text-align: left;
  background-color: #fff;
  padding: 2px 13px;
  border-radius: 2px;
  border: solid 2px red;
}